.container {
    background-color: #FFFDF0;
    .navbar {
      .navbar-brand {
        width: 100%;
        margin-right: 0px;
      }
    }

    #new-friends-are-hard {
      height: 8%;
      color: #581E07;
      font-family: Roboto;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0 auto;
    }

    .yellow-button {
      height: 46px;
      width: 100%;
      background-color: #FFAC03;
    }

    .shared-links {
      padding-top: 122px;
    }

    .vertically-center {
      display: flex;
      align-items: center;
      height: 50vh;
    }

    .finding-group {
      color: #581E07;
      font-family: Roboto;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    .form-check-inline {
      margin: 0;
    }

  .multiselect-container.dropdown-menu.show {
    width: 100vw;
  }

  .navbar-brand {
    width: 100%;
  }

  #chat-input {
    width: 80%;
    display: inline;
  }

  .event-details {
    background-color: #FFF177;
    justify-content: center;
    .date {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .title {
      padding-top: 15px;
    }
  }

  .group-details {
    padding-top: 30px;
    .group-member {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .bold {
    font-weight: bold;
  }
}
