<div class="myers-briggs form-group">
  <div>
    <label><b>I enjoy:</b></label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input orange-radiobtn" name="i_enjoy" type="radio" id="i_enjoy_option_1" value="Meeting new people and doing things" required>
      Meeting new people and doing things
    </label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input orange-radiobtn" name="i_enjoy" type="radio" id="i_enjoy_option_2" value="Ruminating over my thoughts and ideas" required>
      Ruminating over my thoughts and ideas
    </label>
  </div>
</div>

<div class="myers-briggs form-group">
  <div>
    <label><b>I prefer:</b></label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" name="i_prefer" type="radio" id="i_prefer_option_1" value="Tangible objects and valid details" required>
        Tangible objects and valid details
    </label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" name="i_prefer" type="radio" id="i_prefer_option_2" value="Abstract ideas and extrapolating patterns" required>
      Abstract ideas and extrapolating patterns
    </label>
  </div>
</div>

<div class="myers-briggs form-group">
  <div>
    <label><b>I make decisions using:</b></label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" name="i_make_decisions_using" type="radio" id="i_make_decisions_using_option_1" value="Dispassionate viewpoints and logical conclusions" required>
      Dispassionate viewpoints and logical conclusions
    </label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" name="i_make_decisions_using" type="radio" id="i_make_decisions_using_option_2" value="My impressions of the issue and finding consensus among groups" required>
      My impressions of the issue and finding consensus among groups
    </label>
  </div>
</div>

<div class="myers-briggs form-group">
  <div>
    <label><b>I would rather:</b></label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" name="i_would_rather" type="radio" id="i_would_rather_option_1" value="Have a set plan" required>
      Have a set plan
    </label>
  </div>
  <!-- <div class="form-check form-check-inline personality-questions"> -->
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" name="i_would_rather" type="radio" id="i_would_rather_option_2" value="Keep my options open" required>
      Keep my options open
    </label>
  </div>
</div>
