<div class="form-group">
  <label for="first_name">
    First Name
  </label>
  <input type="text" name="first_name" class="form-control" id="first_name_input" placeholder="First Name" required>
</div>

<div class="form-group">
  <label for="last_name">
    Last Name
  </label>
  <input type="text" name="last_name" class="form-control" id="first_name_input" placeholder="Last Name" required>
</div>

<div class="form-group">
  <label for="age">
    Age
  </label>
  <select class="form-control" id="gender_select" name="age" required>
    <option>Select your age</option>
    <option value="18_22" required>18-22</option>
    <option value="23_27" required>23-27</option>
    <option value="28_32" required>28-32</option>
    <option value="33_37" required>33-37</option>
    <option value="38_42" required>38-42</option>
    <option value="43_47" required>43-47</option>
    <option value="48_52" required>48-52</option>
    <option value="53_57" required>53-57</option>
    <option value="over_58" required>58+</option>
  </select>
</div>

<div class="form-group">
  <label for="zipcode">
    Zipcode
  </label>
  <input type="number" name="zipcode" class="form-control" id="zipcode_input" placeholder="zipcode" required>
</div>
