<div class="form-group">
  <label for="first_name">
    First Name
  </label>
  <input type="text" name="first_name" class="form-control" id="first_name_input" placeholder="First Name" required>
</div>

<div class="form-group">
  <label for="last_name">
    Last Name
  </label>
  <input type="text" name="last_name" class="form-control" id="first_name_input" placeholder="Last Name" required>
</div>

<div class="form-group">
  <label for="age">
    Age
  </label>
  <input type="number" name="age" class="form-control" id="age_input" placeholder="age" required>
</div>

<div class="form-group">
  <label for="zipcode">
    Zipcode
  </label>
  <input type="number" name="zipcode" class="form-control" id="zipcode_input" placeholder="zipcode" required>
</div>

<div class="form-group">
  <label for="travel_radius">
    Willing to travel radius
  </label>
  <input type="text" name="willing_to_travel_distance" class="form-control" id="travel_radius_input" required>
</div>

<div class="form-group">
  <label for="communication">
    Preferred method of communication with future friends:
  </label>
  <input type="text" name="preferred_communication" class="form-control" id="communication_input" required>
</div>
