<div class="form-group">
  <label for="gender">
    Gender
  </label>
  <select class="form-control" id="gender_select" name="gender" required>
    <option>Select your gender</option>
    <option value="female">Female</option>
    <option value="male">Male</option>
    <option value="gender_fluid">Other</option>
    <option value="decline_to_answer">Prefer to not answer</option>
  </select>
</div>

<div id="interests" class="form-group">
  <label for="interests">
    Interests
  </label>
  <input type="text" name="interests" class="form-control" id="interests_input" placeholder="What are your interests? (ex: american football, basketball)">
</div>

<div id="budget" class="form-group">
  <label for="budget">
    What’s your budget for social activities in a typical week?
  </label>
  <select class="form-control" id="budget_input" name="budget" required>
    <option selected>Choose...</option>
    <option value="less_than_20"><$20</option>
    <option value="less_than_40"><$40</option>
    <option value="less_than_60"><$60</option>
    <option value="less_than_80"><$80</option>
    <option value="less_than_100"><$100</option>
    <option value="over_hundred">$100+</option>
  </select>
</div>
