<%= form_for :questionnaire do |f| %>

  <%= render "personal_questions", locals: { personal_questionnaire: @personal_questionnaire } %>

  <%= render "secondary_personal_questions", locals: {
    available_languages: @available_languages,
    second_personal_questionnaire: @second_personal_questionnaire
  } %>

  <%= render "myers_briggs_questions" %>

  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>