<% if current_user && current_user.is_user_ready_for_match && !current_user.matched %>
  <div class="vertically-center">
    <div class="text-center finding-group">
      We’re building your rabble group! We’ll let you know when it’s ready
    </div>
  </div>
<% else %>
  <div class="vertically-center">
    <div id="new-friends-are-hard" class="text-center">
      New friends are hard to meet, we make it easy
    </div>
  </div>
<% end %>
