<div class="row vertically-center">
  <div id="new-friends-are-hard" class="text-center col-12">
    New friends are hard to meet, we make it easy
  </div>
</div>
<div>
  <% if current_user %>
    <%= link_to("Signout", destroy_user_session_url, :method => :delete, :class => "yellow-button") %>
  <% else %>
    <%= button_to("Login", new_user_session_url, :method => :get, :class => "yellow-button") %>
    <%= button_to("Register", new_user_registration_url, :method => :get, :class => "yellow-button") %>
  <% end %>
</div>
