<div id="new-friends-are-hard" class="text-center">
  New friends are hard to meet, we make it easy
</div>

<% if current_user && current_user.is_user_ready_for_match && !current_user.matched %>
  <div class="vertically-center text-center">
    We’re building your rabble group! We’ll let you know when it’s ready
  </div>
<% end %>